<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}ProstěNormálníSlova</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>

<body>
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" {ifCurrent Homepage:default}class="active"{/ifCurrent}><a n:href="Homepage:default">Domů</a></li>
					<li role="presentation"  {ifCurrent Homepage:add}class="active"{/ifCurrent}><a n:href="Homepage:add">Přidat vlastní prostě normální slovo</a></li>
				</ul>
			</nav>
			<h3 class="text-muted">Prostě normální slova</h3>
		</div>


			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Zavřít</span>
				</button>
				{$flash->message}
			</div>


	{include content}

		<div class="panel-footer">
			Author: Martin Mikšík | Veškeré dotazy, připomínky a nápady na vylepšení směřujte na <b>mamiksik@gmail.com</b>
		</div>
	</div>
	{block scripts}
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/main.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<script>

			window.onload()
			{
				var counter = $('#counter');
				var endVal = counter.data('end');

				currentVal = 0;
				var i = setInterval(function ()
				{
					if (currentVal === endVal)
					{
						clearInterval(i);
					}
					else
					{
						currentVal++;
						counter.text(currentVal);
					}
				}, 100);
			}

		</script>
	{/block}
</body>
</html>
